extends layout


block content
  script(src="https://aframe.io/releases/0.9.1/aframe.min.js")
  a-scene
    a-assets
      a-asset-item(id="cube",src="/assets/08_cube_space/scene.gltf")
      a-asset-item(id="lab",src="/assets/lab_things/scene.gltf")
      a-asset-item(id="cartoon",src="/assets/pony_cartoon/scene.gltf")
      a-asset-item(id="bench",src="/assets/wooden_bench/scene.gltf")
    a-gltf-model(src="#cube", scale="0.01 0.01 0.01", position="0 0 -10")
    a-gltf-model(src="#lab", scale="0.01 0.01 0.01", position="0 .5 -5" , rotation="0 -180 0")
    a-gltf-model(src="#cartoon", scale="0.001 0.001 0.001", position="0 0 -6")
    a-gltf-model(src="#bench", scale="0.01 0.01 0.01", position="0 0 -3", rotation="0 -180 0")
    a-sky(color="blue")
        

